*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'marriweather', serif;
    cursor: pointer;
}

.top-navbar{
    display: flex;
    justify-content: space-between;
}

.top-navbar p{
    margin-top: 13px;
    margin-left: 15px;
}

.top-navbar .icons{
    margin-top: 13px;
    margin-right: 15px;
}

.top-navbar a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.top-navbar a img{
    margin-bottom: 3px;
}

.top-navbar:hover{
    color: black;
}

@media screen and(max-width:400px){
    .top-navbar a{
        font-size: 13px;
    }
    .top-navbar a img{
        width: 15px;
    }
    .top-navbar p{
        font-size: 13px;
    }
}
@media screen and(max-width:320px){
    .top-navbar a{
        font-size: 18px;
    }
    .top-navbar a img{
        width: 13px;
    }
    .top-navbar p{
        font-size: 10px;
    }
}
@media screen and(max-width:310px){
    .top-navbar a{
        font-size: 8px;
        margin-left: 0;
    }
    .top-navbar a img{
        width: 10px;
        margin-left: 0;
    }
    .top-navbar p{
        font-size: 10px;
        margin-top: 20px;
    }
}

#navbar{
    background-color: rgb(67, 0, 86);
}

#logo{
    margin-left: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
}

#logo span{
    color: #ffc800;
}

#logo #span1{
    font-size: 30px;
}

.navbar-nav{
    margin-left: 20px;
}

.nav-item{
    margin-left: 10px;
}

.nav-item .nav-link{
    color: white;
    margin-left: 2px;
    text-shadow: 0px 0px 1px black;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover{
    color: #ffc800;
}

.dropdown-menu li a{
    color: white;
    transition: 0.5s ease;
}

.dropdown-menu li a:hover{
    background-color: rgb(67, 0, 86);
    color: #ffc800;
}

#search input{
    border-radius: 50px;
    border: none;
}

#search button{
    border-radius: 50px;
    color: white;
    border: 1px solid #ffc800;
    background-color: #ffc800;
}

.home, .Banner{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
}

.home, .Banner .img{
    flex: 1 1 300px;
}

.home, .Banner .img img{
    margin-top: 30px;
    width: 100%;
}

.home, .Banner .content{
    flex: 1 1 400px;
    margin-top: 20px;
}

.content h1{
    color: rgb(67, 0, 86);
    font-weight: bold;
    margin-left: 23px;
    font-size: 60px;
    text-shadow: 1px 1px 1px black;
}

.content h1 span{
    color: rgb(67, 0, 86);
    text-shadow: 1px 1px 1px black;
}

#span2{
    color: #ffc800;
}

.content p{
    margin-left: 23px;
}

.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(67, 0, 86);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn button:hover{
    background-color: #ffc800;
    color: black;
}

@media screen and (max-width:1200px){
    .home, .Banner{
        height: 90vh;
    }
}

@media screen and (max-width:790px){
    .home, .Banner{
        height: 140vh;
    }
}

@media screen and (max-width:550px){
    .home, .Banner{
        height: 110vh;
    }
}

@media screen and (max-width:420px){
    .content h1{
        font-size: 45px;
    }
}
@media screen and (max-width:320px){
    .content h1{
        font-size: 36px;
    }
}


#product-card{
    margin-top: 100px;
}

#product-card h1{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #ffc800;
}

#product-card .card h3{
    font-size: 25px;
    color: black;
}

#product-card .card p{
    font-size: 12px;
    margin-top: 5px;
    color: black;
}

.star i{
    margin-left: 5px;
    font-size: 13px;
}

.checked{
    color: #ffc800;
}

#product-card .card h2{
    font-size: 20px;
    color: black;
    margin-top: 20px;
}

#product-card .card h2 span{
    color: black;
}

@media screen and(max-width:1000px){
    #product-card .card h3{
        font-size: 18px;
    }
}


#other-card{
    margin-top: 30px;
}

#other-card .card{
    background-color: #a9a9a92b;
}

#other-card .card h3{
    margin-top: 30px;
    color: black;
    margin-left: 13px;
    letter-spacing: 3px;
}

#other-card .card h5{
    margin-top: 15px;
    font-weight: 100;
    font-size: 18px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    width:220px;
}

#other-card .card p{
    margin-top: 10px;
    font-weight: 100;
    font-size: 15px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
}

#shopnow{
    width: 130px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 3px;
    color: white;
    background: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media screen and(max-width:1000px){
    #other-card .card h3{
        margin-top: 5px;
        font-size: 20px;
    }

    #other-card .card h5{
        margin-top: 5px;
        font-size: 15px;
    }

    #other-card .card p{
        margin-top: 0px;
    }

    #shopnow{
        margin-top: 0;
        width: 120px;
        height: 30px;
        font-size: 16px;
    }
}

@media screen and(max-width:526px){
    #other-card .card h5{
        width: 170px;
    }
}


#other{
    margin-top: 50px;
}

#other .card{
    box-shadow: rgb(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#other .card h3{
    margin-top: 10px;
    color: black;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}
#other .card p{
    margin-top: 10px;
    color: black;
    letter-spacing: 3px;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}


#offer i{
    font-size: 32px;
    color: black;
}

#newsletter h3{
    font-size: 25px;
    letter-spacing: 3px;
}

.input input{
    width: 350px;
    height: 36px;
    letter-spacing: 2px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 5px;
}

#subscribe{
    width: 200px;
    height: 36px;
    margin-left: 16px;
    border-radius: 3px;
    border: none;
    background-color: #ffc800;
    letter-spacing: 3px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}

@media screen and (max-width:465px){
    .input input{
        width: 280px;
    }

    #subscribe{
        margin-top: 10px;
    }
}
@media screen and (max-width:250px){
    .input input{
        width: 150px;
    }

    #subscribe{
        width: 150px;
    }
}

#footer{
    padding: 0 0 30px 0px;
    color: white;
    font-size: 14px;
    background-color: rgb(67, 0, 86);
}

#footer .footer-top{
    padding: 60px 0 30px 0;
    background-color: rgb(67, 0, 86);
    color: white;
    border-bottom: 1px solid white;
}

#footer .footer-top .footer-contact{
    margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3{
    color: #ffc800;
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: white;
}

#footer .footer-top h4{
    color: #ffc800;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links{
    margin-bottom: 30px;
    margin-top: 10px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li{
    padding: 10px o;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li a{
   text-decoration: none;
   color: white;
   display: inline-block;
   line-height: 1;
   font-weight: bold;
   transition: 0.5s ease;
}

#footer .footer-top .footer-links ul li a:hover{
    color: #ffc800;
}

#footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-left: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
}

#footer .footer-top .social-links a:hover{
    background-color: #ffc800;
    color: white;
}


#cont{
    display: flex;
    display: inline-flex;
    justify-content: space-around;
}

#footer .copyright{
    text-align: center;
}

#footer .credits{
    text-align: center;
    font-size: 13px;
}

#footer .credits a{
    color: #ffc800;
}

html{
    scroll-behavior: smooth;
}

.arrow{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 50px;
    left: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}


#login{
   width: 65%;
    height: 70vh;
    background-color: rgb(67, 0, 86);
    border-radius: 10px;
    box-shadow: rgba(17, 17, 46, 0.15) 0px 40px 100px 0px;
}

#slide1 h3{
    color: #ffc800;
    font-weight: bold;
    margin-top: 200px;
}

#slide2{
    background-color: white;
    height: 70vh;
    border-radius: 10px;
}

#slide2 h1{
    margin-top: 30px;
    color: #ffc800;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}

.input2 input{
    margin-top: 15px;
    width: 300px;
    border: none;
    border-bottom: 2px solid #ffc800;
}

.input2 input ::placeholder{
    font-weight: bold;
}

#btnlogin{
    padding-top: 10px;
}

#btnlogin a{
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #ffc800;
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 1px black;
}

#slide2 p{
    margin-top: 10px;
}

@media screen and (max-width:991px){
    .input2 input{
        width: 250px;
    }
}
@media screen and (max-width:765px){
    .input2 input{
        width: 260px;
    }

    #slide2{
        height: 60vh;
    }
}

#about h3{
    font-weight: bold;
    color: #ffc800;
    text-shadow: 0px 1px 1px black;
}

#about button{
    width: 150px;
    height: 36px;
    color: white;
    background-color: rgb(67, 0, 86);
    border-radius: 5px;
}

#contact .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
}

#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: rgb(67, 0, 86);
    font-weight: bold;
    letter-spacing: 3px;
}

#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(67, 0, 86);
}

.messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid rgb(67, 0, 86);
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
}

.messagebtn button:hover{
    background-color: rgb(67, 0, 86);
    color: white;
}